<div class="alert-message warning" ng-show="errorMessage.msg">
    {{errorMessage.msg}}
</div>
<div class="container">
  <form class="form-signin" ng-submit="login()">
    <h2 class="form-signin-heading">Please sign in</h2>
    <input type="text" class="form-control" placeholder="Email address" autofocus ng-model="username" required>
    <input type="password" class="form-control" placeholder="Password" ng-model="password" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>
 </div> 
